<div class="modal-header" id="map-modal">
    <h3 class="modal-title" style="font-weight: bold;">Mapa do campus</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="col-xs-offset-1 col-md-offset-3" map-lazy-load="https://maps.googleapis.com/maps/api/js"
         map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg-DgACUXO_nUZ5W9A5VHe2H0wD-9tycs">
        <ng-map zoom="17" map-type-id="hybrid" style="height: 600px; width: 700px;" on-dragend="dragLimit()" on-click="createMarker()">
        </ng-map>
    </div>
    <br>
    <div class="col-xs-offset-1 col-md-offset-3" style="font-weight: bolder; padding-left: 30px">Clique no mapa no local da ocorrência ou em 'Me ache' para te acharmos automaticamente</div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-info" style="float: left;" ng-click="getLocation()"><i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 5px"></i><span style="font-weight: bold">Me ache</span></button>
    <button class="btn btn-lg btn-success" type="button" ng-click="ok()">Salvar</button>
    <button class="btn btn-lg btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>





