<logo></logo>
<div class="row" style="margin-top: 50px">
    <div class="col-md-3 col-md-offset-4 col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary" style="min-height: 280px;">
            <div class="div" style="margin: 20px">
                <form>
                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input focus-on-show class="form-control input-lg" name="Matrícula" 
                            placeholder="matrícula" ng-model="registration">
                    </div>
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control input-lg" name="password"
                            placeholder="senha" ng-model="password">
                    </div>
                    <div style="margin: 0px 0px 10px 10px" class="form-check">
                        <label class="form-check-label" style="font-size: 1.3em">
                            <input class="form-check-input" type="checkbox"
                                style="vertical-align: bottom; height: 30px; width: 30px;">
                            Manter conectado
                        </label>
                    </div>
                    <div style="float : right" style="bottom: 40px;">
                        <a class="btn btn-info btn-lg" style="margin-right: 10px" href="/register">Registrar</a>
                        <a class="btn btn-success btn-lg" ng-click="login()">Entrar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
