<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4>Novos Usuários</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" style="margin-bottom: 5px" ng-repeat="user in users">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><b>{{user.name}}</b></h4>
                                <p style="margin: 0"><b>Cargo: </b> {{user.role}}</p> 
                                <p><b>Matrícula: </b> {{user.registration}}</p>
                            </div>
                            <div class="col-md-3" style="padding: 10px;">
                                <button type="button" class="btn btn-default" ng-if="user.verification == 'untrusted'" 
                                    ng-click="accept(user)">Aceitar</button>
                                <button type="button" class="btn btn-default" ng-if="user.verification == 'untrusted'" 
                                    ng-click="block(user)">Bloquear</button>
                                <button type="button" class="btn btn-default" ng-if="user.verification == 'rejected'" 
                                    ng-click="unblock(user)">Desbloquear</button>
                                <button type="button" class="btn btn-default" ng-if="user.verification == 'trusted'"
                                    ng-click="block(user)">Bloquear</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

