<div class="container">
    <div class="row">
        <ul class="list-inline pull-right">
            <li>
                <button ng-class="{ 'active': toggle, else: 'disable'}"type="button" style="padding: 5px; border-radius: 1px 1px black; box-shadow: 1px; margin: 0px;">
                    <a ng-click="showPending()"><span>Pendentes</span></a>
                </button>
            </li>

            <li>
                <button ng-class="{ 'active': !toggle, else: 'disable'}" type="button" style="padding: 5px; border-radius: 1px 1px black; box-shadow: 1px; margin: 0px;">
                    <a ng-click="showResolved()"><span>Resolvidas</span></a>
                </button>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="req in requests">
            <!-- Pending Requests -->
            <div ng-if="toggle && isPending(req)" class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="data:{{req.img.filetype}};base64,{{req.img.base64}}" style="height: 200px; width : auto">
                    <div class="caption">
                        <h4>{{req.title}}</h4>
                        <p>{{req.description}}</p>
                        <a ng-click="editResquest(req)" class="btn btn-info btn-xs" role="button">Editar</a>
                        <a href="#" class="btn btn-danger btn-xs" role="button">Deletar</a>
                    </div>
                </div>
            </div>
            <!-- Resolved Requests -->
            <div ng-if="!toggle && !isPending(req)" class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="data:{{req.img.filetype}};base64,{{req.img.base64}}" style="height: 200px; width : auto">
                    <div class="caption">
                        <h4>{{req.title}}</h4>
                        <p>{{req.description}}</p>
                        <a ng-click="editResquest(req)" class="btn btn-info btn-xs" role="button">Editar</a>
                        <a href="#" class="btn btn-danger btn-xs" role="button">Deletar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>