<div class="container">
    <li ng-class="{ 'is-active': toggle}">
        <a ng-click="showPending()">
            <span style="color: white">Solicitações Pendentes</span>
        </a>
    </li>
    <li ng-class="{ 'is-active': !toggle}">
        <a ng-click="showResolved()">
            <span style="color: white">Solicitações Resolvidas</span>
        </a>
    </li>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="req in requests" class="col-xs-18 col-sm-6 col-md-3">
            <!-- Pending Requests -->
            <div ng-if="toggle && isPending(req)">
                <div class="thumbnail">
                    <img src="data:{{req.img.filetype}};base64,{{req.img.base64}}" style="height: 200px; width : auto">
                    <div class="caption">
                        <h4>{{req.title}}</h4>
                        <p>{{req.description}}</p>
                        <a ng-click="editResquest(req)" class="btn btn-info btn-xs" role="button">Editar</a>
                        <a href="#" class="btn btn-danger btn-xs" role="button">Deletar</a>
                    </div>
                </div>
            </div>
            <!-- Resolved Requests -->
            <div ng-if="!toggle && !isPending(req)">
                <div class="thumbnail">
                    <img src="data:{{req.img.filetype}};base64,{{req.img.base64}}" style="height: 200px; width : auto">
                    <div class="caption">
                        <h4>{{req.title}}</h4>
                        <p>{{req.description}}</p>
                        <a ng-click="editResquest(req)" class="btn btn-info btn-xs" role="button">Editar</a>
                        <a href="#" class="btn btn-danger btn-xs" role="button">Deletar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>