<table class="table" style="margin-top: 10px;">
  <thead>
    <tr>
      <th scope="col">Imagem</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Localização</th>
      <th scope="col">Status</th>
      <th scope="col">Prioridade</th>
      <th scope="col">Autor</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="req in requests track by $index">
      <td><button>img</button></td>
      <td>{{req.title}}</td>
      <td>{{req.description}}</td>
      <td><button>location</button></td>
      <td>
        <select ng-model="req.status" ng-change="updateRequest(req)">
          <option value="pending">Pendente</option>
          <option value="ongoing">Em andamento</option>
          <option value="done">Terminado</option>          
        </select>
      </td>
      <td>
        <select ng-model="req.priority" ng-change="updateRequest(req)">
          <option value="unset">Não definida</option>
          <option value="low">Baixa</option>
          <option value="regular">Média</option>
          <option value="high">Alta</option>
        </select>
      </td>
      <td>{{req.author}}</td>
    </tr>
  </tbody>
</table>