<div>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ui-sref="manage.requests" ui-sref-active="active">
            <a href="#">Solicitações</a>
        </li>
        <li role="presentation" ui-sref="manage.maps" ui-sref-active="active">
            <a href="#">Mapa</a>
        </li>
        <li role="presentation" ui-sref="manage.users" ui-sref-active="active" ng-if="isAdmin">
            <a href="#">Usuários</a>
        </li>
        <li role="presentation" ui-sref="manage.admins" ui-sref-active="active" ng-if="isAdmin">
            <a href="#">Administradores</a>
        </li>
    </ul>

    <div class="container" style="margin-top: 2em">
        <div ui-view></div>
    </div>
</div>
