.success-modal .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5CB85C;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.success-modal {
    vertical-align: center;
}

.danger-modal {
    vertical-align: center;
}

.danger-modal .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #D9534F;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-xl {
    width: 90%;
}

#map-modal {
    vertical-align: center;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5BC0DE;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-weight: bold;
}

li {
    opacity: 1;
}

li.ng-enter {
    transition: 1s;
    opacity: 0;
}

li.ng-enter-active {
    opacity: 1;
}

li.ng-leave {
    transition: 1s;
    opacity: 0;
}
